.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  height: 40px;
  max-width: 1940px;
  width: 100%;

  padding: 0 80px;
  background: #f8f8f8;
}

.item {
  display: flex;
  flex-direction: column;
}

.block {
  margin-top: 10px;
  margin-bottom: 10px;
}

.text {
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;

  color: #8291a3;
  padding: 10px 0px;
}

.text--active {
  color: #1e2123;
}

.focus {
  height: 3px;
}

.focus--active {
  background: #ffd54f;
  width: 100%;
}

.login {
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  padding: 10px 0px;
  color: #664ef9;
}

.login:hover {
  color: #dbd5ff;
}

.item:nth-child(6) .block {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 0;
  margin-top: 0;
}
.item:nth-child(4) .block .sprite {
  margin-right: 5px;
  svg path {
    fill: #8291a3;
  }
}
.item:nth-child(4) .block .sprite-active {
  margin-right: 5px;
  svg path {
    fill: black;
    stroke-width: 600;
  }
}
.item:nth-child(6) .block .sprite {
  @extend %sprite;
  svg g {
    fill: #f8f8f8;
    stroke: #8291a3;
  }
}
.item:nth-child(6) .block .sprite-active {
  @extend %sprite;
  svg g {
    fill: #f8f8f8;
    stroke: black;
  }
}
.item:nth-child(6) .block .sprite-red {
  @extend %sprite;
  svg g {
    fill: rgba(235, 87, 87, 0.4);
    stroke: #eb5757;
  }
}

%sprite {
  margin-top: 8px;
  margin-left: 11px;
  margin-right: 0;
  svg {
    height: 20px;
    width: 16px;
  }
  svg g {
    stroke-width: 600;
  }
}

.heart {
  font-family: "Inter-Medium";
  margin-top: 8px;
  margin-left: 2px;
  color: red;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;
  max-width: 1940px;
  width: 100%;

  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
  padding: 0px 80px;
}

.navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;
  max-width: 1000px;
  width: 100%;

  padding: 0px 40px;
}

.button {
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;

  height: 40px;
  min-width: 240px;

  color: #ffffff;
  background: linear-gradient(90deg, #9d94ff 0%, #6b50e9 94.5%);

  border: none;
  border-radius: 19px;
}

.button:hover {
  background: linear-gradient(90deg, #867cfc 0%, #6929f3 94.5%);
}
