.block {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.block-image {
  border-radius: 10px;
}

.button {
  position: absolute;
  bottom: 52px;
  right: 20px;

  height: 40px;
  width: 40px;

  border: 1px solid #ffffff;
  border-radius: 50%;

  background: none;
  z-index: 1;
}
.button:hover {
  border: 2px solid #ffffff;
  background: rgba(250, 247, 247, 0.197);
}

.title_2h {
  position: absolute;

  font-family: "Inter-Bold";
  font-size: 13px;
  line-height: 16px;

  background: linear-gradient(90deg, #9d94ff 0%, #6b50e9 94.5%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 2;
}

.title_3h {
  position: absolute;
  font-family: "Inter-Bold";
  font-size: 25px;
  line-height: 30px;

  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  z-index: 2;
}

.block-cities {
  position: absolute;
  top: 126px;
  left: 37px;

  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 360px;
}
.block-cities-button {
  font-family: "Inter-Medium";
  font-size: 14px;
  line-height: 17px;

  height: 33px;
  width: 78px;

  background: #664ef9;
  color: rgba(255, 255, 255, 0.7);

  border-radius: 16px;
  border: none;
}
.block-cities-button:hover {
  background: #806cff;
}
.image {
  position: absolute;
  border-radius: 10px;
  min-width: 100%;
}

.shift-image {
  transition: all 1s;
  transform: translateX(-600px);
}
