.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.block {
  display: flex;

  align-items: center;
}

.text {
  font-family: "Inter-SemiBold";
  font-size: 14px;
  color: #0b0b0b;
  padding: 20px 0px;
}

.sprite-margin {
  margin-left: 15px;
}

.focus {
  height: 3px;
}

.focus-active {
  background: #ffd54f;
  width: 100%;
}

.underlist {
  position: absolute;
  top: 84px;

  height: 222px;
  width: 242px;

  box-shadow: 0px 0px 40px rgba(135, 124, 202, 0.3);
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}

.underlist-item {
  font-family: "Inter-SemiBold";
  font-size: 14px;
  padding: 10px 10px;
}

.underlist-item:hover {
  background: #f8f8f8;
}

.alternative-block {
  position: relative;
  display: flex;
  align-items: center;
  height: 37px;
  width: 150px;

  background: #f8f8f8;
  border-radius: 20px;
  border: 2px solid rgba(101, 78, 249, 0);
}
.alternative-block-active {
  background: #ffffff;
  border: 2px solid rgba(102, 78, 249, 0.8);
}
.alternative-block-hover:hover {
  background: rgba(102, 78, 249, 0.1);
}
.alternative-text {
  font-family: "Inter-Medium";
  font-size: 14px;
  line-height: 17px;

  padding: 12px;
  color: #686868;
}
.alternative-sprite {
  margin-left: auto;
  margin-right: 13px;
  transform: rotate(90deg);
}
.alternative-underlist {
  position: absolute;
  top: 30px;

  height: 222px;
  width: 150px;

  box-shadow: 0px 0px 40px rgba(135, 124, 202, 0.3);
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}
.alternative-underlist-item {
  font-family: "Inter-SemiBold";
  font-size: 14px;
  padding: 10px 10px;
}
.alternative-underlist-item:hover {
  background: #f8f8f8;
}
